@{
    ViewData["Title"] = "Excel Konvertor";
}

<h2 class="text-primary">Excel Konvertor</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

<form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data" class="mt-3 p-3 border rounded bg-light">
    <div class="mb-3">
        <label class="form-label fw-bold">Vyberte Excel soubor:</label>
        <input type="file" name="File" class="form-control" required />
    </div>


    <div class="mb-3">
        <label class="form-label fw-bold">Výstupní formát:</label>
        <select name="Format" itemid="format" class="form-select" required>
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Převést soubor</button>
</form>

@if (ViewBag.JsonFilePath != null)
{
        <hr />
        <h3>Stažení JSON souboru</h3>
        <a href="@Url.Action("DownloadFile", "Home", new { fileName = ViewBag.JsonFilePath, format = "json" })" class="btn btn-success">
            <i class="bi bi-download"></i> Stáhnout JSON
        </a>
}

@if (ViewBag.XmlFilePath != null)
{
        <hr />
        <h3>Stažení XML souboru</h3>
        <a href="@Url.Action("DownloadFile", "Home", new { fileName = ViewBag.XmlFilePath, format = "xml" })" class="btn btn-primary">
            <i class="bi bi-download"></i> Stáhnout XML
        </a>
}





